body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.container2 {
    max-width: 835px;
    margin-left: 0;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 50px;
}
.header-links a {
    padding-left: 15px;
    padding-right: 15px;
}
.header-block__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.header-slogan {
    color: #454545;
    font-weight: 500;
    font-size: 15px;
}
.header-profile a{
    display: flex;
    align-items: center;
}
.header-profile a span {
    color: #144388;
    font-weight: 500;
    font-size: 15px;
}
.header-profile a img {
    padding-right: 10px;
}
.nav-block {
    display: flex;
    align-items: center;
}
.nav-wrapper ul li {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}
.nav-wrapper ul li a {
    padding-left: 15px;
    padding-right: 15px;
    color: #454545;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    
}
.nav-wrapper ul li.o{
    border-color: #FF680D;;
}
.nav-wrapper ul li.b{
    border-color: #13B7FF;
}
.nav-wrapper ul li.p{
    border-color: #854EC2;
}
.nav-wrapper ul li.y{
    border-color: #FEB41C;
}
.nav-wrapper ul li.r{
    border-color: #EC2913;
}
.nav-wrapper ul li.g{
    border-color: #00ADA7;
}
.nav-wrapper ul li.p{
    border-color: #197BBE;
}
.nav {
    border-bottom: 1px solid #DFDFDF;
}
.nav-wrapper {
    display: flex;
}
.nav-search input {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    color: #454545;
    font-size: 16px;
    font-weight: 500;
    max-width: 80%;
}
.nav-search {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.nav-search button{
    position: absolute;
    right: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.mainswiper {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;     
    margin-top: 70px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: url('../img/main/arrow-right.svg')!important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: url('../img/main/arrow.svg')!important;
}
.mainswiper-wrapper {
    padding-bottom: 65px;
    border-bottom: 1px solid #DFDFDF;
}
.rec-title {
    margin-top: 25px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #144388;
    font-size: 24px;
    font-weight: 600;
}
.rec-pag {
    position: relative;
    max-width: 90px;
    width: 100%;
}
.swiper-button-next2:after, .swiper-rtl .swiper-button-prev:after {
    content: url('../img/main/smal-arrow-right.svg')!important;
}

.swiper-button-prev2:after, .swiper-rtl .swiper-button-next:after {
    content: url('../img/main/smal-arrow-left.svg')!important;
}
.swiper2-text {
    font-size: 14px;
    color: #144388;
    font-weight: 500;
    margin-top: 5px;
}
.banner-wrapper {
    display: flex;
    justify-content: space-between;
}
.banner {
    margin-top: 82px;
    margin-bottom: 65px;
}
.loc-title {
    padding-top: 30px;
    border-top: 1px solid #FF680D;
    color: #144388;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.loc-map {
    max-width: 400px;
}
.loc-wrapper {
    display: flex;
    margin-top: 45px;
    margin-bottom: 65px;
    justify-content: space-between;
}
.loc-text {
    color: #454545;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
.loc-btns a div{
    background-color: #144388;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 15px;
    transition: 0.3s all ease;
}
.loc-btns a div:hover {
    background-color: #1851A3;
}
.loc-btns a div:active {
    background-color: #144388;
}
.loc-btn2 {
    margin-top: 10px;
    background-color: #F9F9F9!important;
    color: #454545!important;
}
.loc-btn2:hover {
    background-color: #F3F3F3!important;
}
.loc-btn2:active {
    background-color: #F9F9F9!important;
}
.banner-item a img{
    border: 0.1px solid #DFDFDF;
}
.loc-list__item {
    display: flex;
    
}
.list-item__title {
    color: #144388;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
}
.list-item__title::after {
    content: url('../img/main/loc.svg');
    position: absolute;
    top: 0;
    left: -20px;
}
.loc-list-item__left {
    margin-right: 20px;
}
.loc-list {
    margin-left: 40px;
    
}
.loc-list__item {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.list-block__title {
    color: #454545;
    font-size: 14px;
    font-weight: 400;

}
.list-block__answer {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}
.list-item__block {
    margin-bottom: 10px;
}
.location .container {
    position: relative;
}
.absolute-block {
    position: absolute;
    right: 0;
    max-width: 270px;
    top: -180px;
}
.new-block {
    margin-top: 65px;
}
.weather-block {
    margin-top: 35px;
}
.ad-block a img{
    margin-top: 35px;
    border: 0.1px solid#DFDFDF;
}
.event-title {
    padding-top: 25px;
    border-top: 1px solid #13B7FF;
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
}
.event-title__name {
    text-transform: uppercase;
    color: #144388;
    font-size: 24px;
    font-weight: 600;
}
.event-title__link {
    display: flex;
    align-items: center;
}
.event-title__link a {
    color: #888888;
    font-size: 15px;
    font-weight: 500;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase;
}
.event-item {
    max-width: 400px;
    margin-bottom: 55px;
    display: flex;
    align-items: flex-start;
}
.event-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.event-info {
    margin-left: 25px;
}
.event-time {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.event-names {
    color: #144388;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.event-about {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
}
.event-btn {
    max-width: 170px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #144388;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #144388;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s all ease;
}
.event-btn:hover {
    background-color: #144388;
    color: #fff;
}
.event-btn:active {
    background-color: #1851A3;
}
.event-event {
    padding-bottom: 70px;
    border-bottom: 1px solid #00ADA7;
}
.video-title {
    margin-top: 25px;
    margin-bottom: 35px;
    color: #144388;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.video-item {
    display: flex;
    margin-bottom: 15px;
}
.video-other {
    margin-left: 25px;
}
.video-timer {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 6px;
}
.video-item__title {
    color: #144388;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px;

}
.video-item__title span {
    background-color: #D8E2EE;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 10px;

}
.video-item__info {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}
.video-btn {
    max-width: 170px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #144388;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #144388;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s all ease;
}
.video-btn:hover {
    background-color: #144388;
    color: #fff;
}
.video-btn:active {
    background-color: #1851A3;
}
.video-wrapper {
    border-bottom: 1px solid #197BBE;
    padding-bottom: 50px;
}
.review-title {
    margin-top: 25px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}
.review-title__text {
    font-size: 24px;
    color: #144388;
    font-weight: 600;
    text-transform: uppercase;

}
.review-pag {
    position: relative;
    max-width: 90px;
    width: 100%;
}
.swiper-button-next3:after, .swiper-rtl .swiper-button-prev:after {
    content: url('../img/main/smal-arrow-right.svg')!important;
}

.swiper-button-prev3:after, .swiper-rtl .swiper-button-next:after {
    content: url('../img/main/smal-arrow-left.svg')!important;
}
.swiper3-text {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.review-btn {
    max-width: 170px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #144388;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #144388;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s all ease;
}
.review-btn:hover {
    background-color: #144388;
    color: #fff;
}
.review-btn:active {
    background-color: #1851A3;
}
.banner2 {
    margin-top: 70px;
}
.footer {
    margin-top: 65px;
    background-color: #144388;
}
.footer-top {
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    border-bottom: 1px solid #A5AACE;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-link__title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer-link__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-link__item a{
    color: #fff;
    font-size: 14px;font-weight: 400;
    margin-left: 11px;
    
}
.footer-social__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}
.footer-social__items a{
    padding-left: 10px;
    padding-right: 10px;
}
.footer-sub__title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}
.footer-follow {
    max-width: 270px;
}
.footer-follow form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer-follow form input{
    width: 70%;
    outline: none;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 11px;
}
.footer-follow form input::placeholder {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}
.footer-follow form button {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-left: 2px solid #144388;
}
.footer-follow form button{
    display: flex;
    align-items: flex-end;
    
}
.footer-bottom {
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-copi {
    color: #A5AACE;
    font-size: 13px;
    font-weight: 400;
}
.footer-other a {
    color: 
    #A5AACE;
    font-size: 13px;
    padding-left: 30px;
    font-weight: 400;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-social {
    display: none;
}
.nav-menu {
    display: none;
}
.nav-block {
    align-items: flex-end;
}
.nav-wrapper {
    justify-content: space-between;
}
.overlay {
	position: fixed;
	width: 100%;
    z-index: 9999999999999999999999999999999;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
	background-color: rgba(0, 0, 0, .8);
}
.popup {
	position: absolute;
	max-width: 484px;

    width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;
    padding-bottom: 80px;
	box-sizing: border-box;
	background: #fff;
	color: #333333;
}
.popup__h2 {
  text-align: center;
  margin-top: 55px;
  color: #144388;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.close-popup {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 23px;
	height: 23px;
	cursor: pointer;
    
    padding: 10px 10px;

    
}

.close-popup:before {
	content: '';
	background-color: #144388;
	position: absolute;
	height: 2px;
	width: 24px;

	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #144388;
	position: absolute;
	height: 2px;
	width: 24px;
	
	transform: rotate(45deg);
	left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.popup-form {
    max-width: 350px;
    margin: auto;
    margin-top: 35px;
}
.inpt {
    width: 100%;
    appearance: none;
    border: 1px solid #888888;
    box-sizing: border-box;
    max-width: 100%;
    height: 55px;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    position: relative;
    color: #888888;
    margin-bottom: 18px;
    padding-left: 20px;
}
.popup-btn {
    background: #144388;
    border: 1px solid #144388;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 80px;
    text-transform: uppercase;
    max-width: 250px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 16px 0px;
    transition: 0.3s all ease;
}
.popup-btn {
    color: #fff;
    font-size: 18px;font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 40px;

}
.lbl {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    left: 80px;
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
    color: #888888;
}
.popup-btn:hover {
    color: #144388;
    background-color: #fff;
}
.popup-form input:nth-child(4) {
    margin-bottom: 5px;
}
.popup-form a {
    color: #144388;
    font-size: 14px;
    font-weight: 400;
    display: block;
}
.flwme {
    margin-top: 25px;
}
.flmelabel {
    font-size: 14px;
    color: #454545;
    font-weight: 400;
}
.dont-text {
    color: #144388;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.dont-text a {
    color: #144388;
    font-size: 18px;
    font-weight: 500;
}
.popup-btn {
    margin-bottom: 45px;
}
.popup2-btn {
    max-width: 252px;
    border: 1px solid #144388;
    box-sizing: border-box;
    background-color: transparent;
    color: #144388;
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-transform:uppercase;
    margin-top: 20px;
}
.nonclick {
    display: none;
    position: relative;

}
.nonclick img {
    position: absolute;
    left: -50px;
    top: -25px;
}
.hidden-panel {
    width: 100%;
}
.nonclick--active {
    display: block;
}
.loopin {
    display: block;
}
.loopin--close {
    display: none;
}
.hidden-panel {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #F3F3F3;
    top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.hidden-panel--active {
    display: block;
    
}
.nav-wrapper {
    position: relative;
}
.hidden-panel form input {
    height: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 20px;
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    width: 80%;
}
.hidden-panel form input::placeholder {
    color: #888888;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}
.hidden-panel form {
    display: flex;
    
    justify-content: space-between;
}
.hidden-panel form button {
    background-color: transparent;
    border: 1px solid #144388;
box-sizing: border-box;
font-size: 14px;
color: #144388;
font-weight: 400;
padding-left: 30px;
padding-right: 30px;
cursor: pointer;
font-family: 'Rubik', sans-serif;
height: 37px;
margin-right: 5px;
transition: 0.3s all ease-in-out;
}
.hidden-panel form button:hover {
    background-color: #144388;
    color: #fff;
}
.popup2-btn {
    transition: 0.3s all ease;
}
.popup2-btn:hover {
    background-color: #1851A3;
    color: #fff;
}


@media screen and (max-width: 1160px) {
    .nav-social {
        display: flex;
        align-items: center;
    }
    .nav-menu {
        display: block;
        color: #454545;
        font-size: 16px;
        font-weight: 500;
        position: relative;
    }
    .header-burger-line {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #144388;
        left: -30px;
        top: 9px;
    }
    .header-burger-line::after {
        content: '';
        position: absolute;
        top: -5px;
        width: 20px;
        height: 2px;
        background-color: #144388;
    }
    .header-burger-line::before {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 20px;
        height: 2px;
        background-color: #144388;
    }
    .header-burger {
        border-bottom: 2px solid #144388;
        padding-right: 10px;
        padding-left: 40px;
    }
    .nav-social a {
        padding-left: 0px;
        padding-right: 26px;
    }
    .nav-wrapper {
        justify-content: space-between;
    }
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .hidden-panel {
        top: 45px;
    }
    .swiper1 .swiper-wrapper .swiper-slide img{
        max-width: 139%;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: url('../img/main/mb-arrow.svg')!important;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after {
        content: url('../img/main/mb-arrow-left.svg')!important;
    }
    .swiper-button-next {
        right: 0px!important;
    }
    .swiper-button-prev {
        left: 0px!important;
    }
    .mainswiper-wrapper {
        padding-bottom: 45px;
    }
    .rec-title {
        font-size: 20px;
    }
    .swiper2-img img {
        max-width: 100%;
    }
    .rec-pag {
        max-width: 70px;
    }
    .banner-wrapper {
        display: flex;
    }
    .banner {
        margin-top: 55px;
        margin-bottom: 55px;
    }
    .banner-item a img {
        max-width: 100%;
    }
    .absolute-block {
        position: unset;
    }
    .gismeteo-block {
        display: none;
    }
    .new-block {
        display: none;
    }

    .loc-wrapper {
        display: block;
    }
    .loc-title {
        padding-top: 20px;
        font-size: 20px;
    }
    .loc-wrapper {
        margin-top: 20px;
    }
    .loc-text {
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .loc-btns a div {
        font-size: 16px;
    }
    .loc-map {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .loc-list {
        margin-left: 0px;
    }
    .list-item__title {
        font-size: 13px;
    }
    .loc-list-item__left {
        margin-right: 15px;
    }
    .list-block__answer {
        font-size: 13px;
    }
    .list-block__title {
        font-size: 13px;
    }
    .loc-list-item__right {
        
        overflow: hidden;
    }
    .container2 {
        max-width: 100%;
    }
    .loc-list__item {
        justify-content: space-between;
    }
    .loc-list-item__left {
        max-width: 200px;
    }
    .absolute-block {
        max-width: 100%;
        text-align: center;
    }
    .ad-block {
        margin-bottom: 55px;
    }
    
    .loc-wrapper {
        margin-bottom: 55px;
    }
    .weather-block {
        margin-top: 0px;
    }
    .ad-block a img {
        margin-top: 15px;
    }
    .event-title {
        display: block;
    }
    
    .event-title__name {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .event-title__link a {
        padding-left: 0px;
        padding-right: 15px;
    }
    .event-img {
        max-width: 100px;
        min-width: 95px;
    }
    .event-img img {
        max-width: 100%;
    }
    .event-info {
        margin-left: 10px;
    }
    .event-btn {
        margin-left: 0px;
    }
    .video-other {
        margin-left: 10px;
    }
    .video-item__title {
        font-size: 14px;
    }
    .video-item__title span {
        max-width: fit-content;
         margin-left: 0px;
         margin-top: 5px;
    }
    .video-img {
        max-width: 95px;
        min-width: 95px;
    }
    .video-img img {
        max-width: 100%;
    }
    .video-item {
        margin-bottom: 20px;
    }
    .video-btn {
       margin-left: 0px;
        margin-top: 15px;
    }
    .review-pag {
        max-width: 70px;
    }
    .video-btn {
        margin-left: 0px;
    }
    .event-event{
        padding-bottom: 55px;
    }
    .banner-item {
        max-width: 49%;
    }
    .banner-item img {
        max-width: 100%;
    }
   .header-links {
       display: none;
   }
   
   .nav-block {
        display: none;
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #144388;
        z-index: 999999;
    }
    .nav-menu__active .header-burger-line {
        background-color: #fff;
    }
    .nav-menu__active .header-burger-line::after {
        background-color: #fff;
    }
    .nav-menu__active .header-burger-line::before{
        background-color: #fff;
    }
    .nav-wrapper ul {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .nav-wrapper ul li a {
        color: #fff;
    }
    .nav-block li {
        text-align: center;
        padding-top: 25px;
        max-width: 200px;
        margin: auto;
    }
    .nav-menu__active {
        color: #fff;
        
    }
    .header-burger--active {
        background-color: #144388;
    }
    .header-burger {
        box-sizing: border-box;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
}

@media screen and (max-width: 900px) {
    .footer-top {
        display: block;
        text-align: center;
    }
    .footer-link__item {
        justify-content: center;
    }
    .header-block__bottom a img {
        max-width: 100%;
    }
    .footer-top {
        padding-bottom: 40px;
    }
    .header-block {
        margin-left: 50px;
    }
    .footer-other {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-bottom {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer-bottom {
        padding-left: 20px;
        justify-content: center;
    }
    .footer-copi {
        padding-top: 25px;
        text-align: center;
    }
    .footer-other a {
        padding-left: 0px;
        width: 50%;
        padding-bottom: 15px;
    }
    .footer-copi {
        order: 2;
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    .footer-social {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    .footer-sub__title {
        text-align: left;
        margin-top: 20px;
    }
    .footer-follow {
        max-width: 100%;
    }
    .footer-follow form input {
        width: 100%;
    }
   
    .hidden-panel {
        top: 45px;
    }
   .event-item {
       margin-bottom: 20px;
   }
}
@media screen and (max-width: 550px) {
    .banner-wrapper {
        display: block;
    }
    .hidden-panel {
        top: 170px;
    }
    .nonclick img {
        left: -37px;
    }
    .banner-item {
        max-width: 100%;
    }
    .popup {
        max-width: 95%;
        margin: auto;
    }
    .nav-block {
        top: 169px;
    }
    .nav-wrapper {
        position: unset;
    }
    .logo {
        max-width: 158px;
    }
    .logo img {
        max-width: 100%;
    }
    .header-profile a span {
        text-transform: uppercase;
    }
    .header-profile a span {
        font-size: 12px;
    }
    .lbl {
        left: 12%;
    }
    .popup-form {
        max-width: 320px;
    }
    .mainswiper {
        margin-top: 55px;
    }
    .header-profile a img {
        padding-right: 5px;
    }
    .header-wrapper {
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .banner-item {
        margin-bottom: 10px;
    }
    .header-block__bottom {
        display: none;
    }
    .header-slogan {
        display: none;
    }
    
    
}